<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ALL EMPLOYEES</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>
<div class="button">
<h2>ALL EMPLOYEES IN OUR DATABASE</h2>
</div>
<div class="navigation">
<table>
    <thead>
    <tr>
        <td>NAME</td>
        <td>AGE</td>
        <td>BODY</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    {% for employee in show %}
         <tr>
             <td>{{employee.name}}</td>
             <td>{{employee.age}}</td>
             <td>{{employee.body}}</td>
             <td>
                 <a href="{% url 'employee_update' employee.id%}"><button>UPDATE</button></a>
                 <a href=""><button>DELETE</button></a>
             </td>
         </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</body>
</html>